HTMLs/*
filtered_doc/*
data/*
.vscode/*
__pycache__/*
*/.egg-info/
*.pyc
!HTMLs/.gitkeep 
!data/.gitkeep
!filtered_doc/.gitkeep
.env
deepseek-tuning/data/*
deepseek-tuning/models/*
!deepseek-tuning/data/.gitkeep
!deepseek-tuning/models/.gitkeep